* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", "Comic Sans", "Courier New",
    georgia, helvetica, impact, "times new roman", "trebuchet ms", verdana,
    "Iskoola Pota";
    --error-color: #fa370d;
}


/*----------------------Tablle Css end------------------------------------------------------*/

/*body{*/
/*    color: #9e9e9e;*/
/*}*/
/*div{*/
/*    border-style: dotted;*/
/*}*/




/*html Background - start*/
/*body {*/
/*    background-image: url('../img/CiXTiiB.jpg');*/
/*    background-size: cover;*/
/*    background-repeat: no-repeat;*/
/*}*/

/*html Background - end*/

/*radio button style -start*/
.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: #fff;
    border-radius: 50%;
    vertical-align: middle;
    border: 3px solid #20B2AA;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: green;
}

/*radio button style -end*/

/*mainWindow properties*/
/*.lblText {*/
/*    font-size: 16px;*/
/*}*/

.page-footer {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
}

#categoryForm{
    padding: 50px;
    width: 90%;
}

/*alert property*/
#alertBox{
    /*display: none;*/
    /*background-image: linear-gradient(to right, #66a80f, #c0eb75);*/

   /*top: 50%;*/
    /*background-size:cover;*/
    /*color: white;*/
    /*position: absolute;*/
    /*width: 350px;*/
    /*border-radius: 5px;*/
    /*left: 50%;*/
    /*margin-left: -160px;*/
    /*padding: 16px 8px 8px;*/
    box-sizing: border-box;
}

/*.btn {*/

/*    height:200px;*/
/*    width:100px;*/
/*    padding: 30px 20px;*/

/*    !*line-height: 45px;*!*/
/*    !*width: 50px;*!*/
/*    !*padding: 0 35px;*!*/
/*    !*text-transform: uppercase;*!*/
/*    !*color: #fff;*!*/
/*    !*-webkit-border-radius: 3px;*!*/
/*    !*-moz-border-radius: 3px;*!*/
/*    !*border-radius: 3px;*!*/
/*    !*-webkit-transition: all 0.3s ease;*!*/
/*    !*-o-transition: all 0.3s ease;*!*/
/*    !*-moz-transition: all 0.3s ease;*!*/
/*    !*transition: all 0.3s ease;*!*/
/*    !*cursor: pointer;*!*/
/*    !*box-shadow: 1px 2px 5px #000000;*!*/


/* for login form - start*/
/*#loginPage {*/
/*    margin-top: 315px;*/
/*    color: white;*/

/*}*/

/* for login form - end*/
/* for summary form - start*/
.casChqCdt {
    color: var(--error-color);
}

/* for summary form - end*/
/* for billing test show - start*/
/*#tableTestBill {*/
/*    font-size: 16px;*/
/*}*/

/*#tableTestBill tr td p {*/
/*    color: var(--error-color);*/
/*    text-align: center;*/
/*    font-weight: bold;*/
/*    font-style: italic;*/
/*}*/

/* for sbilling test show - end*/
/*main window  - start*/
/*.mainWindowText {*/
/*    font-size: 1.5rem;*/
/*    text-shadow: 0 1px 0 #EEE428,*/
/*    0 2px 0 #adc945,*/
/*    0 3px 0 #ACA7C9,*/
/*    0 4px 0 #b9b9b9,*/
/*    0 5px 0 #aaa,*/
/*    0 6px 1px rgba(0, 0, 1, .1),*/
/*    0 0 5px rgba(0, 0, 0, .1),*/
/*    0 1px 3px rgba(0, 0, 0, .3),*/
/*    0 3px 5px rgba(0, 0, 0, .2),*/
/*    0 5px 10px rgba(0, 0, 0, .25),*/
/*    0 10px 10px rgba(0, 0, 0, .2),*/
/*    0 20px 20px rgba(0, 0, 0, .15);*/
/*}*/

/*.mainWindowText:hover {*/
/*    -webkit-transform: scale(1.1);*/
/*    -moz-transform: scale(1.1);*/
/*    -ms-transform: scale(1.1);*/
/*    -o-transform: scale(1.1);*/
/*    text-shadow: 5px 5px 2px #EEE428;*/
/*}*/

/*.mainWindImg:hover {*/
/*    -webkit-transform: scale(1.1);*/
/*    -moz-transform: scale(1.1);*/
/*    -ms-transform: scale(1.1);*/
/*    -o-transform: scale(1.1);*/
/*    box-shadow: 3px -5px #f5f5f5, -1em 0 .4em #29A1D5;*/
/*}*/

/*.logoProperty:hover {*/
/*    padding: 10px;*/
/*    border: 1px solid var(--error-color);*/
/*    background-color: #f5f5f5;*/
/*    box-shadow: 3px -5px 1px #f5f5f5;*/
/*}*/

/*img {*/
/*    padding: 3px;*/
/*    border: 1px solid #29A1D5;*/
/*    background-color: #29A1D5;*/
/*}*/

/*.logoProperty {*/
/*    background-color: #f5f5f5 !important;*/
/*}*/

/*main windo - properties end */
/*Nav bar - start*/
/*.dropdown-toggle {*/
/*    font-size: 18px;*/
/*/important;*/
/*}*/

/*nav {*/
/*    position: sticky;*/
/*}*/
/*#petitionTodayCount{*/
/*    position:absolute;*/
/*    top:30%;*/
/*    left:60%;*/
/*    transform:translate(-10%,-90%);*/
/*}*/
/*Nav bar - end*/

/*error pages - properties start */

/*error pages - properties end */
/*Error Message Colour - star*/
.error {
    font-family: 'Open Sans', 'Segoe UI';
    font-size: 16px;
    font-weight: bold;
    color: var(--error-color);
}

#error {
    text-align: center;
}

#errorCode {
    margin-top: 10%;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-style: oblique;
    font-size: 40px;
    color: #3299ff;
    background-color: #ffddca;
    border-radius: 10px;
}

#icon {
    height: 250px;
    width: 250px;
    box-shadow: 8px 8px 8px 8px white;

    border-radius: 50%;
    background: linear-gradient(215deg, #5ca155, #a080c5, #56a4b6, #04c2ec, #f2e053);
    background-size: 1000% 1000%;

    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    -o-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
}

#iconIn {
    font-size: 250px;
    text-align: center;
}

#errorMessage {
    color: var(--error-color);
    font-size: 20px;
    font-style: italic;
    background-color: white;
    border-radius: 5px 20px 0px 15px;
}

/*Error Message Colour - star*/
/*main window notification div style- start*/
/*.mainWindSumReport {*/
/*    color: #f7f7f7;*/
/*    align-content: center;*/
/*    background: #49e6fd;*/
/*    background: -webkit-radial-gradient(#6b67ff, #3b9ffd, #29A1D5);*/
/*    background: -o-radial-gradient(#6b67ff, #3b9ffd, #29A1D5);*/
/*    background: -moz-radial-gradient(#6b67ff, #3b9ffd, #29A1D5);*/
/*    background: radial-gradient(#6b67ff, #3b9ffd, #29A1D5);*/
/*    border: 1px solid #f7f7f7;*/
/*    border-radius: 25px 10px 25px 10px;*/
/*    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
/*}*/

/*!*main window notification div style- end*!*/
/*!*all button same size according to boostrap btn-sm  - start*!*/
/*!*.button .btn {*!*/
/*!*    height:200px;*!*/
/*!*    width:200px;*!*/
/*!*    padding: 100px 1000px !important;*!*/
/*!*    font-size: 12px !important;*!*/
/*!*    line-height: 1.5 !important;*!*/
/*!*    border-radius: 50px !important;*!*/
/*!*    alignment: left;*!*/
/*!*}*!*/

/*!*all button same size according to boostrap btn-sm  - end*!*/

/*!*remove lab test from selected table - start*!*/
/*.removeLabTest {*/
/*    color: #f0ad4e;*/
/*    font-weight: lighter;*/
/*}*/

/*.addLabTest {*/
/*    color: #000000;*/
/*    background-color: #00FFFF;*/
/*}*/

/*!*remove lab test from selected table - end*!*/

/*!*------------------form  - start----------------------*!*/
label {
   font-size: 18px !important;
    font-max-size: 22px;
    font-min-size: 12px;
    font-weight: bold;
    color: #2c3e50;
}

.form-control{
    background-color: transparent;
    border-color: darkgrey;
    border-width: 2px;
    /*border-bottom-right-radius: 10px;*/
}
.form-Border{
    background: linear-gradient( 80deg, #ffffff, #FFD5FF, #D8BFD8, #FFD5FF, #ffffff );
}

input {
    font-size: 18px !important;
    background-color: transparent;

}

input[disabled] {
    cursor: not-allowed;
    color: black;

}


strong{
    font-size: 18px;
}

.display_detail {
    font-size: 18px !important;
    font-max-size: 20px;
    font-min-size: 12px;
    font-weight: bold;
    color: black;
    text-align: left;
}



.form-row {
    padding: 10px;
    border-radius: 10px;
}

.formManagement {
    padding: 30px;
    border-radius: 15px;
    margin-bottom: 2px;
}





.form-Border {
    border-radius: 15px;
}

/*-------------------------form - end---------------------------------*/

/*Table show and hide - start*/
.display {
    display: none;
}

/*Table show and hide - end*/
/*medical Package show area - start*/
#medicalPackage {
    border: 2px solid blue;
    border-radius: 5px;
}

#labTestShowTable {
    margin-top: 3px;
}

#medicalPackageDetails {
    margin-top: 5px;
}

#btnRegisteredPatient {
    margin-bottom: 5px;
}

/*medical Package show area - end*/
/* enter filed validation - start*/
.valid {
    background-color: limegreen;
}

.invalid {
    background-color: darkred;
}

/*html 5 filed validation - start */
input:focus:invalid{
    background-image: url("../img/wrong.png");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 25px;
    -moz-box-shadow: none;
}

input[type=text]:focus {
    background-color: transparent;
    border: 3px solid #555;
}

input:required:valid,input:focus:valid {
    background-image: url("../img/correct.png");
    border-width: 3px;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 25px;
}

.required:before{
    color: red;
    content: "*";
    float: left;
}

/*html 5 filed validation - end */

/* Flaired edges */
/*<hr/> tag style - start */
hr{
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}
/*<hr/> tag style - end */

