<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>category</title>
</head>
<body>
<nav th:replace="~{fragments/navBar :: navBarFragment}"></nav>

<!--Heading Area-->
<div class="container-fluid">
    <div class="row mt-4">
        <div class="col">
            <a href="/home" id="btnHome" class="btn btn-dark"><i class="fas fa-arrow-left"></i>
                Back to Home
            </a>
        </div>

        <div class="col text-right">
            <a class="btn btn-dark" href="/category/add"><i class="fa fa-plus"></i>
                &nbsp;Add New</a>
        </div>

    </div>
    <div class="row text-center">
        <div class="col">
            <h4 class="text-info text-center">
                <strong>
                    Category Management
                </strong>
            </h4>
        </div>
    </div>
</div>
<div class="container-fluid">
    <!--Table view-->
    <div class="col">
        <div class="col" id="categoryListPresent" th:if="${not #lists.isEmpty(categorys)}">
            <table class="table table-hover table-striped" id="myTable">
                <thead>
                    <tr>
                        <th> Index</th>
                        <th> Main Category</th>
                        <th> Name</th>
                        <th> Modify</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="category, rowCount : ${categorys}">
                        <th th:text="${rowCount.count}"></th>
                        <th th:text="${category.mainCategory.mainCategory}"></th>
                        <th th:text="${category.name}"></th>
                        <th>
                            <a id="categoryView" th:href="${'/category/' + category.id}" class="btn btn-warning btn-sm"><i class="fa fa-eye" style="font-size: 15px"></i>&nbsp;View</a>
                            <a id="categoryEdit" th:href="${'/category/edit/' + category.id}" class="btn btn-success btn-sm"><i class="fa fa-edit" style="font-size: 15px"></i>&nbsp;Edit</a>
                            <a id="categoryRemove" th:href="${'/category/remove/' + category.id}" class="btn btn-danger btn-sm">
                             <!-- th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"--> <i class="fa fa-trash" style="font-size: 15px"></i> Delete</a>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--Error-->
    <div class="row" th:if="${ #lists.isEmpty(categorys)}">
        <div class="col-sm-12">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="text-center text-danger">
                    <strong>There is no category upto now please add category to the system using "New" button.</strong>
                </h3>
            </div>
        </div>
        <script>
            /*active boostrap alert - start*/
            $(".alert").alert();
            /*active boostrap alert - end*/
        </script>
    </div>
</div>
<!--footer include-->
<footer th:replace="~{fragments/footer :: footerFragment}"></footer>
<!--script include-->
<script th:replace="~{fragments/script :: scriptFragment}"></script>

</body>
</html>