    <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>

</head>

<body id="loginBack">
<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
        <div class="card login-card">
            <div class="row no-gutters">
                <div class="col-md-5">
                    <img data-th-src="${'/img/loginback.jpg'}" alt="login" class="login-card-img">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <div class="brand-wrapper">
                            <img data-th-src="${'/img/logo.png'}" alt="logo" class="logo"> Sanchana Bag Shop
                        </div>
                        <p class="login-card-description">Sign into your account</p>
                        <form  data-th-action="${'/login'}" method="post">
                            <div class="form-group">
                                <label for="username" class="sr-only">User Name</label>
                                <input type="text" id="username" data-th-name="${'username'}" class="form-control" placeholder="username" required>
                            </div>
                            <div class="form-group mb-4">
                                <label for="inputPassword" class="sr-only">Password</label>
                                <input type="password" id="inputPassword" data-th-name="${'password'}" class="form-control" placeholder="password" required>
                            </div>
                            <input name="login" id="login" class="btn btn-block login-btn mb-4" type="submit" value="Login">
                        </form>

                        <nav class="login-card-footer-nav">
                            <a href="#!">Terms of use.</a>
                            <a href="#!">Privacy policy</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
</body>

<!--login css-->
<link  data-th-href="@{/css/login.css}" media="all" rel="stylesheet" type="text/css"/>

<!--footer include-->
<footer th:replace="~{fragments/footer :: footerFragment}"></footer>
<!--script include-->
<script th:replace="~{fragments/script :: scriptFragment}"></script>

</body>
</html>